.navigation {
    &List {
        list-style: none
        margin 0
        padding 0
    }

    &__item {
    }

    &__link {
        align-items center;
        border-bottom: 1px solid var(--c-neutral);
        color: var(--c-neutral--light-3);
        display flex;
        text-decoration none;
        padding: var(--s-default--2x);
    }

    &__icon {
        background-color #fff;
        color: currentColor;
        display: block;
        width 16px;
        height 16px;
    }
}